/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    background:#2d2d2d ;

}

p {
    font-family: Roboto, sans-serif;
}


header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    display: flex;
    width: 100%;
    text-align: center;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    margin-top: 30px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#add-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

#add-list input {
    height: 40px;
    width: 30%;
    margin-right: 20px;
    border-radius: 10px;
    border-style: none;
    padding-left: 15px;
   
  
}

#add-list button {
    width:20%;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #F25CA2;
    height:43px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

#add-list button:hover {
    border-style: none;
    background-color: #576EF2;
}

#listDisplay {

    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: space-around;
    width: 90%;


}

.list-card {
    display: flex;
    flex-wrap: wrap;
    background-color: #fcfcfc;
    align-items: flex-start;
    height:fit-content;
    margin-top: 5%;
    width:300px;
    flex-flow: wrap;
    border-radius: 10px;    
    background: none; 
}

.list-card section {
    width: 100%;        
}

.list-card button {
    float: right;
    cursor: pointer;
}


#list-name {
    background-color: #576EF2;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:37 37 37;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    
}

#list-name button {
    float: right;
    cursor: pointer;
    border-radius: 5px;
    padding: 0px 10px 0px 0px; 
    border-style: none;
    color: white;
    background-color:  #576EF2;
    font-size: 22px;
    font-weight: 700;
}

.item-card section {
  width: 90%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  
   
}


.item-card button {
    float: right;
    float: right;
    cursor: pointer;
    padding: 5px 10px 5px 10px; 
    border-style: none;
    color: #2d2d2d;
    background-color: white;
    font-size: 15px;
    font-weight: 800;
       
}

.item-card label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




label p {
    padding-left: 5px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
}



label p.checked {
    text-decoration: line-through;
    
   
}

#add-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    background-color: #F25CA2;
    border-radius: 10px;
    height:40px;
    color: white;
    
}

#add-item input{
    border-radius: 0px 0px 0px 10px;
    border-style: none ;
    padding-left: 5%;
    width:70%;
    background-color: #F25CA2;
    color: white;
}
#add-item input:focus {
    outline: none;
}

#add-item ::placeholder {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

 


#add-item button {
    float: right;
    color: white;
    font-size: 30px;
    background-color: #F25CA2;
    border-style: none;
    padding-right:8%;
    
    border-radius: 0px 0px 7px 0px;
    
}




